<img src = "../../images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Alcool</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd 
import numpy as np

### 2. Importer le jeu de données depuis [adresse](https://needemand.com/keepsmiling2/index.php/s/nAjnDBf3ekoxTmx).

### 3. Stocker les données dans une variable drinks.

In [2]:
drinks =  pd.read_table("data/drinks.csv" ,sep=',',)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 4. Dans quel la consommation moyenne de bière est-elle la plus élevée ?

In [32]:
drinks[drinks['beer_servings'] > drinks['beer_servings'].mean()].sort_values(by='beer_servings')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
139,Moldova,109,226,18,6.3,EU
189,Vietnam,111,2,1,2.0,AS
185,Uruguay,115,35,220,6.6,SA
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN
11,Bahamas,122,176,51,6.3,NaN
87,Kazakhstan,124,246,12,6.8,AS
61,France,127,151,370,11.8,EU
163,Suriname,128,178,7,5.6,SA
35,Chile,130,124,172,7.6,SA
67,Greece,133,112,218,8.3,EU
138,South Korea,140,16,9,9.8,AS
15,Belarus,142,373,42,14.4,EU
14,Barbados,143,173,36,6.3,NaN
29,Cabo Verde,144,56,16,4.0,AF
31,Cameroon,147,1,4,5.8,AF
105,Malta,149,100,120,6.6,EU
41,Costa Rica,149,87,11,4.4,NaN
165,Sweden,152,60,186,7.2,EU
152,Seychelles,157,25,51,4.1,AF
37,Colombia,159,76,3,4.2,SA
52,Ecuador,162,74,3,4.2,SA
133,Peru,163,160,21,6.1,SA
20,Bolivia,167,41,8,3.8,SA
126,Norway,169,71,129,6.7,EU
144,St. Lucia,171,315,71,10.1,NaN
22,Botswana,173,35,35,5.4,AF
166,Switzerland,185,100,280,10.2,EU
125,Niue,188,200,7,7.0,OC
44,Cyprus,192,154,113,8.2,EU
51,Dominican Republic,193,147,9,6.2,NaN
...,...,...,...,...,...,...
76,Iceland,233,61,78,6.6,EU
75,Hungary,234,215,185,11.3,EU
99,Luxembourg,236,133,271,11.4,EU
109,Mexico,238,68,5,5.5,NaN
32,Canada,240,122,100,8.2,NaN
3,Andorra,245,138,312,12.4,EU
23,Brazil,245,145,16,7.2,SA
141,Russian Federation,247,326,73,11.5,AS
184,USA,249,158,84,8.7,NaN
120,Netherlands,251,88,190,9.4,EU
8,Australia,261,72,212,10.4,OC
17,Belize,263,114,8,6.8,NaN
60,Finland,263,133,97,10.0,EU
156,Slovenia,270,51,276,10.6,EU
9,Austria,279,75,191,9.7,EU
93,Latvia,281,216,62,10.5,EU
151,Serbia,283,131,127,9.6,EU
160,Spain,284,157,112,10.0,EU
130,Panama,285,104,18,7.2,NaN
16,Belgium,295,84,212,10.5,EU
140,Romania,297,122,167,10.4,EU
129,Palau,306,63,23,6.9,OC
81,Ireland,313,118,165,11.4,EU
188,Venezuela,333,100,3,7.7,SA
135,Poland,343,215,56,10.9,EU
98,Lithuania,343,244,56,12.9,EU
65,Germany,346,117,175,11.3,EU
62,Gabon,347,98,59,8.9,AF
45,Czech Republic,361,170,134,11.8,EU
117,Namibia,376,3,1,6.8,AF

### 5. Afficher les statistiques relatives aux consommations de vin pour chaque continent.

In [85]:

"""""(drinks.groupby(['wine_servings'])
            .groupby(['continent']).describe())"""""
drinks['wine_servings'].groupby(drinks['continent']).describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### 6. Afficher la consommation moyenne d'alcool par continent pour toutes les colonnes.

In [78]:
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

### 7. Afficher la consommation médiane d'alcool par continent pour toutes les colonnes

In [83]:
drinks.median()

beer_servings                   76.0
spirit_servings                 56.0
wine_servings                    8.0
total_litres_of_pure_alcohol     4.2
dtype: float64

### 8. Afficher les valeurs moyennes, min et max de la consommation de spiritueux (spirit).
#### Stocker le résulat dans un DataFrame

In [82]:
drinks['spirit_servings'].describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND